:root {
    --text-color: #ffffff;
    --border-color: #ffffff;
    --background-color: #3b3d40;
}

button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--text-color);
}
label {
    font-size: 22px;
}
hr {
    margin: 0;
    border-color: var(--border-color);
}
webview {
    width: 100%;
    height: 100%;
}
.settings-panel {
    width: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    box-shadow: -5px 0 5px rgba(0,0,0,0.2);
    gap: 20px;
}
.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    color: var(--text-color);
    label{
        border-bottom: var(--border-color) 1px solid;
    }
}
.settings-url {
    display: flex;
    gap: 20px;
    align-items: center;
    input {
        width: 100%;
        height: 25px;
        background: transparent;
        color: var(--text-color);
        font-size: 20px;
    }
}
.osc-monitor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.osc-monitor{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    font-size: 18px;
    background: transparent;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
.settings-button {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 10
}
.webview {
    position: relative;
    width: 100vw;
    height: 100vh
}
